<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>

        <objects xmlns="http://www.springframework.net" >
            <description>This conifg configures Integration Tests.</description>

            <object id="SchProcess"
                    type="Models.SearchProcess, Models" singleton="false">
                <property name="ScanStrategy" ref="SchStrategy"/>
            </object>

            <object id="SingleStrategy"
                    type="Models.ScanStrategies.SingleThreadScan, Models" singleton="false">
                <property name="FileSystem" ref="Fs"/>
                <property name="SearchSettings" ref="SchSettings"/>
                <property name="ProgramSettings" ref="ProgSettings"/>
            </object>

            <object id="MultiStrategy"
                    type="Models.ScanStrategies.MultiThreadScan, Models" singleton="false">
                <property name="FileSystem" ref="Fs"/>
                <property name="SearchSettings" ref="SchSettings"/>
                <property name="ProgramSettings" ref="ProgSettings"/>
            </object>

            <object id="SchStrategy"
                    type="Models.ScanStrategies.ScanStrategyBase, Models" factory-method="CreateInstance" singleton="false" >
                <property name="FileSystem" ref="Fs"/>
                <property name="SearchSettings" ref="SchSettings"/>
                <property name="ProgramSettings" ref="ProgSettings"/>
            </object>
            
            <object id="ProgSettings" 
                    factory-method="CreateProgramSettings" factory-object="ObjectsFactory" singleton="false">
            </object>

            <object id="SchSettings" type="Searcher.VM.ScanSettingsPanelVM, Searcher" factory-method="CreateSearchSettings" factory-object="ObjectsFactory" singleton="false">
                <property name="FileSystem" ref="Fs"/>
                <property name="PluginManager" ref="PlugsManager"/>
            </object>
            
            <!--
            lazy-init="true"
            <object id="ProgSettings"
                    type="Searcher.VM.OptionsPanelVM, Searcher" singleton="true">
            </object>

            <object id="SchSettings"
                    type="Searcher.VM.ScanSettingsPanelVM, Searcher" singleton="true" init-method="InitPlugins">
                <property name="FileSystem" ref="Fs"/>
                <property name="PluginManager" ref="PlugsManager"/>
            </object>-->
            
            <object id="Fs"
                    type="ServiceImpls.FileSystem, ServiceImpls" singleton="true">
                <property name="SearchSettings" ref="SchSettings"/>
            </object>

            <object id="PlugsManager"
                    type="ServiceImpls.PluginManager, ServiceImpls" singleton="true" init-method="ScanPluginsFolder">
                <property name="FileSystem" ref="Fs"/>
            </object>
            
            <object id="ObjectsFactory"
                    type="SearcherTests.ObjectsFactory.SystemTestsObjectsFactory, SearcherTests">
                <property name="PluginManager" ref="PlugsManager"/>
            </object>

        </objects>
    </spring>

    <log4net>
        <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender" />
        <root>
            <level value="WARN" />
            <appender-ref ref="MemoryAppender" />
        </root>
    </log4net>
</configuration>