<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />                
    </configSections>
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>

        <objects xmlns="http://www.springframework.net" >
            <description>This conifg configures Integration Tests.</description>

            <object id="SchProcess"
                    type="Models.SearchProcess, Models" singleton="false">
                <property name="ScanStrategy" ref="SchStrategy"/>
            </object>

            <object id="SingleStrategy"
                    type="Models.ScanStrategies.SingleThreadScan, Models" singleton="false">
                <property name="FileSystem" ref="Fs"/>
                <property name="SearchSettings" ref="SchSettings"/>
                <property name="ProgramSettings" ref="ProgSettings"/>
            </object>

            <object id="MultiStrategy"
                    type="Models.ScanStrategies.MultiThreadScan, Models" singleton="false">
                <property name="FileSystem" ref="Fs"/>
                <property name="SearchSettings" ref="SchSettings"/>
                <property name="ProgramSettings" ref="ProgSettings"/>
            </object>

            <object id="SchStrategy"
                    type="Models.ScanStrategies.ScanStrategyBase, Models" factory-method="CreateInstance" singleton="false" >
                <property name="FileSystem" ref="Fs"/>
                <property name="SearchSettings" ref="SchSettings"/>
                <property name="ProgramSettings" ref="ProgSettings"/>
            </object>

            <object id="ProgSettings"
                    type="Searcher.VM.OptionsPanelVM, Searcher" singleton="true">
            </object>

            <object id="SchSettings"
                    type="Searcher.VM.ScanSettingsPanelVM, Searcher" singleton="true" >
                <property name="FileSystem" ref="Fs"/>
                <property name="PluginManager" ref="PlugsManager"/>
            </object>

            <object id="Fs"
                    type="ServiceImpls.FileSystem, ServiceImpls" singleton="true">
                <property name="SearchSettings" ref="SchSettings"/>
            </object>

            <object id="PlugsManager"
                    type="ServiceImpls.PluginManager, ServiceImpls" singleton="true" init-method="ScanPluginsFolder">
                <property name="PrivateDomain" ref="DomainFactory" />
                <property name="FileSystem" ref="Fs"/>
            </object>

            <object id="DomainFactory"
                    type="Spring.Objects.Factory.Config.PropertyRetrievingFactoryObject, Spring.Core">
                <property name="StaticProperty">
                    <value>System.AppDomain.CurrentDomain, Mscorlib</value>
                </property>
            </object>            
        </objects>
    </spring>    
    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <appendToFile value="false" />
            <file value="log.txt" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="LogFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
